DATABASE_URL=
SECRET_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
API_V1_PREFIX=/api/v1
PROJECT_NAME=
CORS_ORIGINS=*
# Opcional: pool config
# POOL_SIZE=20
# MAX_OVERFLOW=50

